.header{
    width: 100%;
    max-width: 1300px;
    height: 50px;
    background: #727374;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
.header ul{

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
    list-style: none;
}

li{ 
  background-color: #727374;
  cursor: default;
}
