.main{
    max-width: 1300px;
    display: flex;
    justify-content: center;
    min-height: 80vh; 
  }


  
  .main .aside{
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    width: 25%;
  }
  
  .main .principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64%;
    background: #fff;
  }